<template>
    <div class="mb-2">
        <Autocomplete
            ref="tagsAutocomplete"
            class="mt-2"
            v-bind:searchableData="searchableData"
            v-bind:placeholder="'find tag...'"
            v-on:onDataSelect="onTagSelect($event)"
        />

        <ul
            id="my-custom-tags-list"
            class="list-unstyled d-inline-flex flex-wrap mb-0"
        >
            <b-card
                v-for="tag in tagsList"
                :key="tag"
                :id="`my-custom-tags-tag_${tag.replace(/\s/g, '_')}_`"
                tag="li"
            >
                <div :class="{ system: isSystemTag(tag) }">{{ tag }}</div>
                <b-button
                    v-if="isRemovableTag(tag)"
                    @click="removeTag(tag)"
                    variant="light"
                    class="btn-sm"
                    :aria-controls="
                        `my-custom-tags-tag_${tag.replace(/\s/g, '_')}_`
                    "
                >
                    <i class="fe fe-trash-2" />
                </b-button>
            </b-card>
        </ul>
    </div>
</template>

<script>
import _ from "lodash";
import Autocomplete from "code23VueFormBuilder/third_party_components/partials/AutocompleteComponent.vue";

export default {
    name: "tags",
    components: {
        Autocomplete
    },
    props: {
        entityTags: {
            type: Array,
            required: true,
            default: () => {
                return [];
            }
        },
        fieldTags: {
            type: Array,
            required: true,
            default: () => {
                return [];
            }
        }
    },

    data() {
        return {
            tagsList: []
        }
    },

    watch: {
        fieldTags() {
            this.tagsList = this.fieldTags;
        }
    },

    methods: {
        isRemovableTag(tagName) {
            /* retrieve tagObj by finding the tag in the users tag */
            const tagObj = this.entityTags.find(tag => tag.name.en === tagName);
            /* check for system tags */
            if (
                tagObj &&
                tagObj.type &&
                tagObj.type.startsWith("system.") &&
                Permissions.indexOf("remove-system-tag") === -1
            ) {
                /* return */
                return false;
            }
            /* return */
            return true;
        },

        isSystemTag(tagName) {
            const tagObj = this.entityTags.find(tag => tag.name.en === tagName);
            /* check for system tag */
            if (tagObj && tagObj.type && tagObj.type.startsWith("system.")) {
                /* return */
                return true;
            }
            /* return */
            return false;
        },

        onTagSelect(tag) {
            /* determine whether or not the tag already exists in the list */
            if (!this.tagsList.includes(tag.name)) {
                /* add new tag to list */
                this.tagsList.push(tag.name);
                /* emit tags changed */
                this.$emit("tagsChanged", this.tagsList);
            }
            /* clear search */
            this.$refs.tagsAutocomplete.clearSearch();
        },

        removeTag(tagName) {
            this.tagsList = _.remove(this.tagsList, tag => {
                return tag !== tagName;
            });
            /* emit tags changed */
            this.$emit("tagsChanged", this.tagsList);
        },

        searchableData(tagName) {
            return new Promise(resolve => {
                /* ensure user input is longer than 3 characters */
                if (tagName.length < 3) {
                    return resolve([]);
                }

                /* retrieve tags */
                axios
                    .get(`/api/tags/search?name=${tagName}`)
                    .then(response => {
                        /* return list of response from server */
                        return resolve(response.data);
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(() => {
                        /* reset loading flag */
                        // this.isLoading = false
                    });
            });
        },

        getResultValue(result) {
            return result.name;
        }
    },

    mounted() {
        this.tagsList = this.fieldTags;
    }
};
</script>
