<template>
    <div v-if="formLogicFullfilled" class="controlItem form-group" :class="control.className">
        <component
            :is="controlInstance"
            :control="control"
            :label-position="labelPosition"
        ></component>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";
import { CONTROL_TYPES } from "code23VueFormBuilder/config/control_constant";

export default {
    name: "ControlComponent",

    props: ["control", "labelPosition"],

    data: () => ({
        controlInstance: null
    }),

    computed: {
        controlsValues: function () {
            var controls_values = {}

            _.forEach(this.$parent.$parent.$parent.$parent.form.sections, function(section) {
                _.forEach(section.rows, function(row) {
                    _.forEach(row.controls, function(control) {
                        controls_values[control.name] = control.value
                    })
                })
            })

            return controls_values
        },

        formLogicFullfilled: function() {
            if (!this.control.showIf.enabled) return true

            var logicItemValue = this.controlsValues[this.control.showIf.item]
            var logicValue = this.control.showIf.value

            switch (this.control.showIf.condition) {
                case 'equal':
                    return logicItemValue == logicValue
                    break;

                case 'not_equal':
                    return logicItemValue != logicValue
                    break;

                case 'lower':
                    return parseInt(logicItemValue) < parseInt(logicValue)
                    break;

                case 'greater':
                    return parseInt(logicItemValue) > parseInt(logicValue)
                    break;

                case 'empty':
                    return logicItemValue == '' || logicItemValue == null || logicItemValue == undefined
                    break;

                case 'not_empty':
                    return logicItemValue != '' && logicItemValue != null && logicItemValue != undefined
                    break;
            }
        }
    },

    created() {
        if (!CONTROL_TYPES[this.control.type]) {
            console.error(
                `Control type ${this.control.type} doesn't exist to render.`
            );
            return;
        }

        Hooks.Control.beforeRegister.run(this.control);

        // set control
        this.controlInstance = CONTROL_TYPES[this.control.type].source.gui;
    },

    mounted() {
        Hooks.Control.afterRegister.run(this.control);
    }
};
</script>

<style scoped></style>
