<template>
    <div class="mt-2">
        <div class="row dynamic rowItem" v-if="section.isDynamic">
            <div class="tools col-md-12">
                <p class="mb-0">
                    <span
                        class="add clickable"
                        @click="addDynamicObj"
                        >Add new
                    </span>
                    <span
                        class="add clickable ml-1"
                        @click="addDynamicObj"
                        ><i class="fas fa-plus-circle"></i
                    ></span>
                </p>
            </div>

            <div
                class="rowDynamicItem col-md-12"
                v-for="(data, index) in section.instances"
                :key="index"
                :class="'rowDynamic_' + index"
            >
                <div class="tools">
                    <p class="mb-0">
                        <span
                            class="remove clickable"
                            @click="removeDynamicObj(index)"
                            ><i class="fas fa-minus-circle"></i
                        ></span>
                    </p>
                </div>

                <div class="row" v-for="(row, index) in data" v-bind:key="index">
                    <control-component
                        v-for="control in row.controls"
                        :key="control.name + index"
                        :control="control"
                        :label-position="section.labelPosition"
                    >
                    </control-component>
                </div>
            </div>
        </div>

        <div
            v-else
            v-for="(row, index) in section.rows"
            v-bind:key="index"
            class="row rowItem"
        >
            <control-component
                v-for="control in row.controls"
                :key="control.name"
                :control="control"
                :label-position="section.labelPosition"
            >
            </control-component>
        </div>
    </div>
</template>

<script>
import { FormHandler } from "code23VueFormBuilder/gui/handler/form_handler";
import ControlComponent from "./ControlComponent";
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";

export default {
    name: "RowComponent",

    components: { ControlComponent },

    props: ["section"],
    data: () => ({
        dynamicTemplate: null
        // dynamicData: [],
    }),
    methods: {
        addDynamicObj() {
            if (
                this.section.maxInstance > 0 &&
                this.section.instances.length === this.section.maxInstance
            ) {
                Toaster.error(
                    "Maximum instances reached, can't create more."
                );
                return;
            }

            // b4hook
            let b4Run = Hooks.DynamicSection.beforeAddInstance.runSequence(
                this.section
            );
            if (b4Run === false) {
                return;
            }

            this.section.instances.push(_.cloneDeep(this.dynamicTemplate));

            // after hook
            Hooks.DynamicSection.afterAddInstance.run(
                _.last(this.section.instances),
                this.section
            );
        },
        removeDynamicObj(index) {
            if (this.section.minInstance === this.section.instances.length) {
                Toaster.error(
                    "Minimum instances reached, can't remove more."
                );
                return;
            }

            // b4hook
            let b4Run = Hooks.DynamicSection.beforeRemoveInstance.runSequence(
                this.section
            );
            if (b4Run === false) {
                return;
            }

            this.section.instances.splice(index, 1);

            // after hook
            Hooks.DynamicSection.afterRemoveInstance.run(
                _.last(this.section.instances),
                this.section
            );
        },
        generateDynamic() {
            if (this.section.isDynamic) {
                this.section.instances = [];

                // generate dynamic template
                this.dynamicTemplate = _.cloneDeep(this.section.rows);
                Hooks.DynamicSection.beforeInitClone.run(
                    this.dynamicTemplate,
                    this.section
                );

                // populate min instance
                if (this.section.minInstance > 0) {
                    for (var i = 0; i < this.section.minInstance; i++) {
                        this.addDynamicObj();
                    }
                }
            }
        }
    },
    mounted() {
        this.generateDynamic();
    }
};
</script>

<style scoped>
.add {
    color: #46be8a;
    font-size: .8em;
    text-transform: uppercase;
}

.remove {
    color: #fb434a;
}

.fa-minus-circle {
    background-color: #fff;
}

.rowItem,
.rowDynamicItem {
    position: relative;
}

.dynamic.rowItem {
    padding-bottom: 20px;
}

.rowDynamicItem {
    border: #e4e9f0 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* .rowDynamicItem > .row {
    padding-top: 25px;
} */

.tools {
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.rowDynamicItem .tools {
    top: -8px;
    right: 5px;
}

.clickable {
    cursor: pointer;
}
</style>
