<template>
    <div>
        <div class="row align-items-center checkBoxControl" v-if="labelPosition === 'left'">
            <div class="col-md-4">
                <label
                    :for="control.name + '_gui_control'"
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8 input-group">
                <div class="text-left w-100 air__utils__control air__utils__control__checkbox">
                    <input
                        type="checkbox"
                        :disabled="this.control.readonly"
                        :name="control.fieldName"
                        v-model="control.value"
                    />
                    <span class="air__utils__control__indicator"></span>
                </div>
            </div>
        </div>
        <div class="form-group" v-else>
            <label
                :for="control.name + '_gui_control'"
                :class="{
                    bold: control.labelBold,
                    italic: control.labelItalic,
                    underline: control.labelUnderline
                }"
            >
                {{ control.label }}
            </label>

            <div class="text-left w-100 air__utils__control air__utils__control__checkbox">
                <input
                    type="checkbox"
                    :readonly="this.control.readonly"
                    :name="control.fieldName"
                    v-model="control.value"
                />
                <span class="air__utils__control__indicator"></span>
            </div>
        </div>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";

export default {
    name: "CheckboxControl",
    props: ["control", "labelPosition"],
    mounted() {
        if (this.control.isChecked) {
            this.control.value = true;
        }

        // after hook
        Hooks.Control.afterInit.run(this.control, $(this.$el).find("input"));
    }
};
</script>

<style scoped>
.air__utils__control input {
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
</style>
