<template>
    <div>
        <div class="row align-items-center" v-if="labelPosition === 'left'">
            <div class="col-md-4">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8">
                <button
                    v-if="showDownload"
                    v-on:click="download()"
                    class="btn btn-sm btn-outline-primary mr-2"
                    title="download">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download mb-1">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line>
                    </svg>
                    download file
                </button>

                <div class="upload-btn-wrapper">
                    <button
                        v-if="isEnabled"
                        v-on:click="chooseFiles()"
                        class="btn btn-sm btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload mb-1">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                        choose file
                    </button>
                    {{ this.control.value.name || null }}
                    <input
                        type="file"
                        ref="fileUpload"
                        :readonly="this.control.readonly"
                        :name="control.fieldName"
                        @change="onFileChange"
                    />
                </div>
            </div>
        </div>
        <div v-else class="form-group">
            <label
                :class="{
                    bold: control.labelBold,
                    italic: control.labelItalic,
                    underline: control.labelUnderline
                }"
            >
                {{ control.label }}
            </label>

            <div class="upload-btn-wrapper">
                <button
                    v-on:click="chooseFiles()"
                    class="btn btn-sm btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload mb-1">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line>
                    </svg>
                    select file
                </button>
                {{ this.control.value.name || null }}
                <input
                    type="file"
                    ref="fileUpload"
                    class="custom-file-input"
                    :readonly="this.control.readonly"
                    :name="control.fieldName"
                    @change="onFileChange"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";

export default {
    name: "FileUploadControl",
    props: ["control", "labelPosition"],
    computed: {
        isEnabled () {
            return !this.control.readonly
        },
        showDownload () {
            return typeof this.control.value === 'string' && this.control.value !== ''
        }
    },
    methods: {
        chooseFiles () {
            /* prevent clicking when in readonly mode */
            if (!this.control.readonly) {
                /* on file upload click */
                this.$refs.fileUpload.click()
            }
        },
        download() {
            /* emit the event so the root knows a file is to be retrieved */
            this.$root.$emit('file:download', this.control.value)
        },
        onFileChange(e) {
            /* retrieve file */
            let files = e.target.files || e.dataTransfer.files

            /* emit the event so the root knows a file has been selected */
            this.$root.$emit('file:changed', { controlId: this.control.name, obj: files[0] });

            /* set the control value */
            this.control.value = files[0];
        }
    },
    mounted() {
        if (!_.isEmpty(this.control.defaultValue)) {
            this.control.value = this.control.defaultValue;
        }
    }
};
</script>

<style scoped>
    .upload-btn-wrapper {
        position: relative;
        display: inline-block;
    }

    .btn {
        padding: 4px 8px;
        border-radius: 4px;
    }

    .upload-btn-wrapper input[type=file] {
        display: none;
    }
</style>
