<template>
    <div>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div
                    :id="control.fieldName"
                    class="infoControlField"
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.defaultValue }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";

export default {
    name: "InfoControl",
    props: ["control", "labelPosition"]
};
</script>

<style scoped></style>
