<template>
    <div>
        <div class="row align-items-center" v-if="labelPosition === 'left'">
            <div class="col-md-4">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                    >{{ control.label }}</label
                >
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control"
                        :readonly="this.control.readonly"
                        :name="control.fieldName"
                        :value="totals"
                    />
                </div>
            </div>
        </div>
        <div class="form-group" v-else>
            <label
                :class="{
                    bold: control.labelBold,
                    italic: control.labelItalic,
                    underline: control.labelUnderline
                }"
            >
                {{ control.label }}
            </label>

            <div class="input-group">
                <input
                    type="number"
                    class="form-control"
                    :readonly="this.control.readonly"
                    :name="control.fieldName"
                    :value="totals"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";
import { eventBus } from "code23VueFormBuilder/template/handler/event_handler";

export default {
    name: "TotalControl",

    props: ["control", "labelPosition"],

    data: () => ({
        totals: 0,
        tag: null,
    }),

    computed: {
        controlStep() {
            return 1
        }
    },

    methods: {
        // initTotals() {
        //     var tag = this.control.tags[0]
        //     var tagged_controls_total = 0

        //     _.forEach(this.$parent.$parent.section.rows, function(row) {
        //         _.forEach(row.controls, function(control) {
        //             console.log('control', control);
        //             if (control.tags[0] == tag) {
        //                 console.log('tagged_controls_total', tagged_controls_total);
        //                 console.log('control.value', control.value);
        //                 console.log('control.value.parsed', parseFloat(control.value));

        //                 tagged_controls_total = tagged_controls_total + parseFloat(control.value)
        //             }
        //         })
        //     })

        //     return tagged_controls_total
        // }
    },

    created() {
        // this.control.value = 0;
        // this.totals = this.initTotals()
        this.tag = this.control.tags[0] // total controller should have only 1 tag

        var self = this

        eventBus.$on('init-total-amounts', control => {
            var tag = this.control.tags[0]
            var tagged_controls_total = parseFloat('0')

            /* iterate over the rows */
            _.forEach(this.$parent.$parent.section.rows, function(row) {
                /* iterate over the controls */
                _.forEach(row.controls, function(control) {
                    /* check the tags match and the value is a number */
                    if (control.tags[0] == tag && _.isFinite(parseFloat(control.value))) {
                        /* update totals */
                        tagged_controls_total = (parseFloat(tagged_controls_total) + parseFloat(control.value))
                    }
                })
            })

            /* update the totals */
            this.totals = parseFloat(tagged_controls_total)
        })

        eventBus.$on('amount-value-change', control => {
            /* define */
            var tagged_controls_total = this.totals

            /* iterate over the tags */
            _.forEach(self.control.tags, function(total_tag) {
                /* iterate over the controls */
                _.forEach(control.tags, function(tag) {
                    /* check tags match */
                    if (total_tag == tag) {
                        /* create new total */
                        tagged_controls_total = ((parseFloat(tagged_controls_total) - parseFloat(control.previous_value)) + parseFloat(control.value)).toFixed(self.control.decimalPlace)
                    }
                })
            })

            /* update the totals */
            this.totals = parseFloat(tagged_controls_total)
        })
    },

    mounted() {
        if (_.isEmpty(this.control.value) && !_.isEmpty(this.control.defaultValue)) {
            this.control.value = this.control.defaultValue
        }

        // after hook
        Hooks.Control.afterInit.run(this.control, $(this.$el).find("input"))
    },
};
</script>

<style scoped></style>
