<template>
    <div>
        <!-- if -->
        <div v-if="labelPosition === 'left'" class="row align-items-center checkBoxControl">
            <div class="col-md-4">
                <label
                    :for="control.name + '_gui_control'"
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8 input-group">
                <div class="text-left w-100 air__utils__control air__utils__control__radio">
                    <span>
                        <input
                            type="radio"
                            :disabled="this.control.readonly"
                            :name="control.fieldName"
                            v-model="control.value"
                            value="yes"
                        />
                        <span class="air__utils__control__indicator"></span>
                    </span>
                    <span>Yes</span>
                    <span class="ml-4 relative">
                        <input
                            type="radio"
                            :disabled="this.control.readonly"
                            :name="control.fieldName"
                            v-model="control.value"
                            value="no"
                        />
                        <span class="air__utils__control__indicator"></span>
                    </span>
                    <span>No</span>
                </div>
            </div>
        </div>
        <!-- else -->
        <div v-else class="form-group">
            <label
                :for="control.name + '_gui_control'"
                :class="{
                    bold: control.labelBold,
                    italic: control.labelItalic,
                    underline: control.labelUnderline
                }"
            >
                {{ control.label }}
            </label>
            <div class="text-left w-100 air__utils__control air__utils__control__radio">
                <span>
                    <input
                        type="radio"
                        :disabled="this.control.readonly"
                        :name="control.fieldName"
                        v-model="control.value"
                        value="yes"

                    />
                    <span class="air__utils__control__indicator"></span>
                </span>
                <span>Yes</span>
                <span class="ml-4">
                    <input
                        type="radio"
                        :disabled="this.control.readonly"
                        :name="control.fieldName"
                        v-model="control.value"
                        value="no"

                    />
                    <span class="air__utils__control__indicator"></span>
                </span>
                <span>No</span>
            </div>
        </div>
    </div>
</template>

<script>
import { Hooks } from "code23VueFormBuilder/gui/components/hook_lists";

export default {
    name: "YesnoControl",
    props: ["control", "labelPosition"],
    mounted() {
        if (_.isEmpty(this.control.value) && !_.isEmpty(this.control.defaultValue)) {
            this.control.value = this.control.defaultValue
        }

        // after hook
        Hooks.Control.afterInit.run(this.control, $(this.$el).find("input"));
    }
};
</script>

<style scoped>
.air__utils__control input {
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.relative {
    position: relative;
}
</style>
