<template>
    <autocomplete
        ref="autocomplete"
        :placeholder="this.placeholder"
        :default-value="this.default"
        :search="searchableData"
        :get-result-value="getDataSearchResults"
        v-on:submit="onDataSelect"
        :debounce-time="500"
    ></autocomplete>
</template>

<script>
import _ from "lodash";
import Autocomplete from "@trevoreyre/autocomplete-vue";

export default {
    name: "entity-search",
    components: {
        Autocomplete
    },

    props: {
        default: {
            type: String,
            default: () => {
                return "";
            }
        },
        searchableData: {
            type: Function,
            default: () => {
                return {};
            }
        },
        placeholder: {
            type: String,
            default: () => {
                return "search for...";
            }
        },
        columnName: {
            type: String,
            default: () => {
                return "name";
            }
        }
    },

    computed: {},

    data() {
        return {
            searchTerm: ""
        };
    },

    methods: {
        clearSearch() {
            this.$refs.autocomplete.value = "";
        },

        getDataSearchResults(result) {
            return result[this.columnName];
        },

        onDataSelect(result) {
            if (!result) {
                // the tag is new
                if (this.$refs.autocomplete.value != '') {
                    result = {
                        name: this.$refs.autocomplete.value,
                        slug: _.kebabCase(this.$refs.autocomplete.value)
                    }
                }
            }

            this.$emit("onDataSelect", result);
        }
    }
};
</script>
