<template>
    <div
        class="controlItemWrapper"
        :class="control.className"
        :data-control-name="control.name"
    >
        <div
            class="controlItem row"
            :id="control.name"
            v-if="labelPosition === 'left'"
        >
            <div class="col-md-4">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8 input-group">
                <select
                    class="form-control"
                    :name="control.fieldName"
                >
                    <option disabled selected>Options</option>
                    <option v-for="option in control.dataOptions">{{
                        option.text
                    }}</option>
                </select>
            </div>
        </div>
        <div class="controlItem row" :id="control.name" v-else>
            <div class="form-group col-md-12">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
                <div class="input-group">
                    <select
                        class="form-control"
                        :name="control.fieldName"
                    >
                        <option disabled selected>Options</option>
                        <option v-for="option in control.dataOptions">{{
                            option.text
                        }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CountryControl",

    props: ["control", "labelPosition"],

    methods: {
        initOptions(category) {
            // get options from API
            return new Promise(resolve => {
                axios
                    .get('/api/lookup/' + category)
                    .then(response => {
                        /* set options */
                        this.control.dataOptions = response.data;
                        /* return */
                        return true;
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(() => {
                        /* reset loading flag */
                        // this.isLoading = false
                    });
            });
        }
    },

    mounted() {
        // add default options
        if (this.control.dataOptions.length <= 0) {
            this.initOptions('country');
        }
    }
};
</script>

<style scoped></style>
