<template>
    <div
        class="controlItemWrapper"
        :class="control.className"
        :data-control-name="control.name"
    >
        <div
            v-if="labelPosition === 'left'"
            class="controlItem row"
            :id="control.name"
        >
            <div class="col-md-4">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8 input-group">
                <div class="upload-btn-wrapper">
                    <button class="btn btn-sm btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload mb-1">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                        choose file
                    </button>
                    {{ this.control.value.name || null }}
            </div>
        </div>
        <div v-else class="controlItem row" :id="control.name">
            <div class="form-group col-md-12">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
                <div class="upload-btn-wrapper">
                    <button class="btn btn-sm btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload mb-1">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                        choose file
                    </button>
                    {{ this.control.value.name || null }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FileUploadControl",
    props: ["control", "labelPosition"],
    computed: {},
};
</script>

<style scoped>
    .upload-btn-wrapper {
        position: relative;
        /* overflow: hidden; */
        display: inline-block;
    }

    .btn {
        padding: 4px 8px;
        border-radius: 4px;
    }

    .upload-btn-wrapper input[type=file] {
        display: none;
    }
</style>
