<template>
    <div
        class="controlItemWrapper"
        :class="control.className"
        :data-control-name="control.name"
    >
        <div
            class="controlItem row"
            :id="control.name"
        >
            <div class="col-md-12">
                <div
                    :id="control.fieldName"
                    class="infoControlField"
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.defaultValue }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "InfoControl",
    props: ["control", "labelPosition"],
    mounted() {
        if (_.isEmpty(this.control.defaultValue)) {
            this.control.defaultValue = this.control.infoControlFieldDefaultValue;
        }
    }
};
</script>

<style scoped></style>
