<template>
    <div
        class="controlItemWrapper"
        :class="control.className"
        :data-control-name="control.name"
    >
        <!-- if -->
        <div
            class="controlItem row"
            :id="control.name"
            v-if="labelPosition === 'left'"
        >
            <div class="col-md-4">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
            </div>
            <div class="col-md-8 input-group">
                <div class="text-left w-100 air__utils__control air__utils__control__radio">
                    <span>
                        <input
                            type="radio"
                            :name="control.fieldName"
                            :checked="control.defaultValue == 'yes'"
                            value="yes"
                        />
                        <span class="air__utils__control__indicator"></span>
                    </span>
                    <span>Yes</span>
                    <span class="ml-4">
                        <input
                            type="radio"
                            :name="control.fieldName"
                            :checked="control.defaultValue == 'no'"
                            value="no"
                        />
                        <span class="air__utils__control__indicator"></span>
                    </span>
                    <span>No</span>
                </div>
            </div>
        </div>
        <!-- else -->
        <div v-else class="controlItem row" :id="control.name">
            <div class="form-group col-md-12">
                <label
                    :class="{
                        bold: control.labelBold,
                        italic: control.labelItalic,
                        underline: control.labelUnderline
                    }"
                >
                    {{ control.label }}
                </label>
                <div class="input-group">
                    <div class="text-left w-100 air__utils__control air__utils__control__radio">
                        <span>
                            <input
                                type="radio"
                                :name="control.fieldName"
                                :checked="control.defaultValue == 'yes'"
                                value="yes"
                            />
                            <span class="air__utils__control__indicator"></span>
                        </span>
                        <span>Yes</span>
                        <span class="ml-4">
                            <input
                                type="radio"
                                :name="control.fieldName"
                                :checked="control.defaultValue == 'no'"
                                value="no"
                            />
                            <span class="air__utils__control__indicator"></span>
                        </span>
                        <span>No</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "YesnoControl",
    props: ["control", "labelPosition"]
};
</script>

<style scoped>
/* this is the backend view */
</style>
