<template>
    <div>
        <div class="row">
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>ID</label>
                    <input
                        type="text"
                        readonly
                        class="form-control"
                        :value="control.name"
                    />
                </div>
            </div> -->
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Control type</label>
                    <input
                        type="text"
                        readonly
                        class="form-control"
                        :value="typeFirstUpper"
                    />
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input
                        type="text"
                        readonly
                        class="form-control"
                        v-model="control.fieldName"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Width</label>
                    <select class="form-control" v-model="control.className">
                        <option
                            v-for="(label, value) in widthOptions"
                            :value="value"
                            >{{ label }}</option
                        >
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <label>
                    <input
                        type="checkbox"
                        name="isRequired"
                        v-model="control.required"
                    />
                    Required?
                </label>

                <label class="ml-2">
                    <input
                        type="checkbox"
                        name="isReadonly"
                        v-model="control.readonly"
                    />
                    Readonly?
                </label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <tags
                    v-bind:entityTags="entityTags"
                    v-bind:fieldTags="controlTags"
                    v-on:tagsChanged="tagsChanged($event)"
                ></tags>
            </div>
        </div>
    </div>
</template>

<script>
import { FORM_CONSTANTS } from "code23VueFormBuilder/config/constants";
import Tags from "code23VueFormBuilder/third_party_components/TagsComponent";

export default {
    name: "BaseConfigComponent",

    components: { Tags },

    props: {
        control: {
            type: Object
        }
    },

    data: () => ({
        widthOptions: FORM_CONSTANTS.WidthOptions,
        entityTags: []
    }),

    computed: {
        typeFirstUpper() {
            return (
                this.control.type.charAt(0).toUpperCase() +
                this.control.type.slice(1)
            );
        },
        controlTags() {
            return this.control.tags;
        }
    },

    methods: {
        getEntityTags() {
            // get tags from API
            return new Promise(resolve => {
                axios
                    .get('/api/tags/')
                    .then(response => {
                        this.entityTags = resolve(response.data);
                        /* return */
                        return true;
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(() => {
                        /* reset loading flag */
                        // this.isLoading = false
                    });
            });
        },
        tagsChanged(tags) {
            // update tags for field in db
            this.control.tags = tags;

            // send tags to API
            axios
                .post('/api/tags/', {
                    tags: tags
                })
                .then(response => {
                    // console.log('tags saved');
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(() => {
                    /* reset loading flag */
                    // this.isLoading = false
                });
        }
    },

    mounted() {
        this.getEntityTags(); // get tags from API
        $('[data-toggle="tooltip"]').tooltip(); // trigger tooltip
    }
};
</script>

<style scoped></style>
