<template>
    <div>
        <div v-if="control.type == 'info'" class="row mt-2">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Info text</label>
                    <textarea
                        class="form-control"
                        v-model="control.defaultValue"
                    />
                </div>
            </div>
        </div>
        <div v-else-if="control.type == 'yesno'" class="row mt-2">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Default value</label>
                    <div class="input-group">
                        <label>
                            <input
                                type="radio"
                                value="yes"
                                class=""
                                v-model="control.defaultValue"
                            />
                            Yes
                        </label>
                        <label>
                            <input
                                type="radio"
                                value="no"
                                class="ml-4"
                                v-model="control.defaultValue"
                            />
                            No
                        </label>
                        <label>
                            <input
                                type="radio"
                                checked="ckecked"
                                value=""
                                class="ml-4"
                                v-model="control.defaultValue"
                            />
                            Empty
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="['checkbox', 'yesno'].indexOf(control.type) == -1" class="row mt-2">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Default value</label>
                    <input
                        type="text"
                        class="form-control"
                        v-model="control.defaultValue"
                    />
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="form-group" v-if="control.type !== 'info'">
                    <label>Control label</label>
                    <input
                        type="text"
                        class="form-control"
                        v-model="control.label"
                    />
                </div>
                <div class="form-group">
                    <label
                        ><input type="checkbox" v-model="control.labelBold" />
                        Bold</label
                    >
                    <label class="ml-2"
                        ><input type="checkbox" v-model="control.labelItalic" />
                        Italic</label
                    >
                    <label class="ml-2"
                        ><input
                            type="checkbox"
                            v-model="control.labelUnderline"
                        />
                        Underline</label
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BaseStyleComponent",
    props: {
        control: {
            type: Object
        }
    }
};
</script>

<style scoped></style>
