<template>
    <div>
        <!-- no settings, yet -->
    </div>
</template>

<script>
export default {
    name: "FileUploadConfigComponent",

    props: {
        control: {
            type: Object
        }
    }
};
</script>

<style scoped></style>
