<template>
    <div>
        <div class="row mt-2">
            <div class="col-md-12">
                <h6>Form Logic</h6>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="logic_on"
                            v-model="control.showIf.enabled"
                        />
                        Enable form logic?
                    </label>
                </div>
            </div>

            <div v-if="control.showIf.enabled">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="logic_item">Item</label>
                        <select v-model="control.showIf.item" class="form-control" id="logic_item">
                            <option
                                v-for="ctrl in controls"
                                :value="ctrl.name"
                            >{{ ctrl.label }} ({{ ctrl.name }})</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="logic_condition">Logic</label>
                        <select v-model="control.showIf.condition" class="form-control" id="logic_condition">
                            <option
                                v-for="option in showIfConditionOptions"
                                :value="option.value"
                            >{{ option.label }}</option>
                        </select>
                    </div>
                </div>

                <div v-if="['empty', 'not_empty'].indexOf(control.showIf.condition) < 0" class="col-md-12">
                    <div class="form-group">
                        <label for="logic_value">Value</label>
                        <input v-model="control.showIf.value" class="form-control" type="text" name="logic_value" id="logic_value" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FormLogicComponent",
    props: {
        control: {
            type: Object
        },
        controls: {
            type: Array
        }
    },
    data: () => ({
        showIfConditionOptions: [
            { value: 'equal', label: '=' },
            { value: 'not_equal', label: '!=' },
            { value: 'lower', label: '&lt;' },
            { value: 'greater', label: '&gt;' },
            { value: 'empty', label: 'EMPTY' },
            { value: 'not_empty', label: 'NOT EMPTY' }
        ]
    })
};
</script>

<style scoped></style>
