<template>
    <div>
        <!-- No config required -->
    </div>
</template>

<script>
export default {
    name: "InfoConfigComponent",

    props: {
        control: {
            type: Object
        }
    }
};
</script>

<style scoped></style>
