<template>
    <div class="row mt-2">
        <div class="col-md-12 mt-2">
            <table
                class="table table-bordered table-striped"
                v-if="!control.isAjax"
            >
                <thead>
                    <tr>
                        <th class="text-center" width="10%">
                            <font-awesome-icon
                                icon="plus"
                                class="clickable"
                                @click="addOption"
                            ></font-awesome-icon>
                        </th>
                        <th width="40%">Value</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(option, index) in control.dataOptions"
                        :class="'staticSource_' + index"
                    >
                        <td class="text-center">
                            <font-awesome-icon
                                icon="times"
                                class="clickable"
                                @click="removeOption(index)"
                            ></font-awesome-icon>
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control txtId"
                                v-model="option.id"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control txtText"
                                v-model="option.text"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { FORM_CONSTANTS } from "code23VueFormBuilder/config/constants";

export default {
    name: "TitleConfigComponent",

    components: { FontAwesomeIcon },

    props: {
        control: {
            type: Object
        }
    },

    watch: {
        control: {
            deep: true,

            handler(val) {
                _.forEach(val.dataOptions, function(option) {
                    option.value = option.id
                })
            }
        }
    },

    methods: {
        initOptions(category) {
            // get options from API
            return new Promise(resolve => {
                axios
                    .get('/api/lookup/' + category)
                    .then(response => {
                        /* set options */
                        this.control.dataOptions = response.data;
                        /* return */
                        return true;
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(() => {
                        /* reset loading flag */
                        // this.isLoading = false
                    });
            });
        },
        addOption() {
            this.control.dataOptions.push(
                _.clone(FORM_CONSTANTS.OptionDefault)
            );
        },
        removeOption(index) {
            this.control.dataOptions.splice(index, 1);
        },
    },

    mounted() {
        this.control.isAjax = false; // never Ajax
        this.control.isMultiple = false; // never multi title

        // add default options
        if (this.control.dataOptions.length <= 0) {
            this.initOptions('person_title');
        }
    }
};
</script>

<style scoped></style>
