<template>
    <div>
    </div>
</template>

<script>
export default {
    name: "YesnoConfigComponent",
    props: {
        control: {
            type: Object
        }
    }
};
</script>

<style scoped></style>
