<template>
    <div class="col-md-12 mb-4 rowItem row" :id="row.name">
        <div class="tools">
            <font-awesome-icon
                icon="times"
                class="clickable"
                @click="removeRow(row.name)"
            ></font-awesome-icon>
        </div>

        <div class="col-count">
            <span :class="col_count_class">{{ col_count }} / 12</span>
        </div>

        <component
            v-for="(control, index) in row.controls"
            :is="CONTROL_TYPES[control.type].source.template"
            :key="control.name"
            :control="control"
            @dblclick.native="openConfig(control)"
            :ref="control.name"
            :label-position="labelPosition"
        >
        </component>
    </div>
</template>

<script>
import { FORM_CONSTANTS } from "code23VueFormBuilder/config/constants";
import { CONTROL_TYPES } from "code23VueFormBuilder/config/control_constant";
//import ControlItem from "./ControlItem";
import {
    eventBus,
    EventHandlerConstant
} from "code23VueFormBuilder/template/handler/event_handler";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { Hooks } from "code23VueFormBuilder/template/components/hook_lists";
import { ControlHandler } from "code23VueFormBuilder/template/handler/control_handler";

export default {
    components: { FontAwesomeIcon },
    name: "row-item",
    props: {
        row: {
            type: Object,
            default: {}
        },
        labelPosition: null
    },
    data: () => ({
        CONTROL_TYPES,
        editing_control: null,
        col_count: 0,
        col_count_class: null
    }),
    methods: {
        addControl(controlType) {
            var controlInfo = _.cloneDeep(FORM_CONSTANTS.Control);
            controlInfo.type = controlType;
            // generate id
            controlInfo.name = _.domUniqueID("");
            controlInfo.label = FORM_CONSTANTS.Type[controlType].label;
            controlInfo.fieldName = controlInfo.name; // same for both

            // check if there's any more special fields?
            if (CONTROL_TYPES[controlType].other_properties) {
                _.each(
                    CONTROL_TYPES[controlType].other_properties,
                    (value, key) => {
                        controlInfo[key] = value;
                    }
                );
            }

            // before hook
            let b4Run = Hooks.Control.beforeAdd.runSequence(
                controlInfo,
                this.row
            );
            if (b4Run === false) {
                return;
            }

            // add to row
            this.row.controls.push(controlInfo);

            // after hook
            Hooks.Control.afterAdd.run(controlInfo, this.row);
        },
        traverseControl() {
            let self = this;

            // prepare data
            var items = $(this.$el).find(".controlItem");
            var finalItems = [];

            // sort
            _.each(items, (item, index) => {
                var id = $(item).attr("id");
                var controlItem = _.find(self.row.controls, { name: id });
                controlItem.order = index;
                finalItems.push(controlItem);
            });

            // reset the current sections
            this.row.controls = finalItems;

            this.getRowWidth();
        },
        removeRow(rowName) {
            this.$emit("removeRow", rowName);
        },

        // control
        openConfig(controlInfo) {
            ControlHandler.clearSelect();
            ControlHandler.setSelect(controlInfo.name);
            this.editing_control = controlInfo;
            eventBus.$emit(
                EventHandlerConstant.ACTIVATE_EDITOR_SIDEBAR,
                _.cloneDeep(controlInfo)
            );
        },

        getRowWidth() {
            let c = 0;

            for (var control in this.row.controls) {
                c += parseInt(this.row.controls[control].className.substr(7));
            }

            this.col_count = c;
            this.col_count_class = c == 12 ? 'text-success' : 'text-danger';
        }
    },
    created() {
        let self = this;

        // remove control bus
        eventBus.$on(EventHandlerConstant.REMOVE_CONTROL, ui => {
            // prepare data
            var id = ui.helper.attr("data-control-name");
            var controlIndex = _.findIndex(this.row.controls, { name: id });

            if (controlIndex < 0) {
                return;
            }

            // before hook
            var controlInfo = this.row.controls[controlIndex];
            let beforeRun = Hooks.Control.beforeRemove.runSequence(controlInfo);
            if (beforeRun === false) {
                return;
            }

            // remove control
            this.row.controls.splice(controlIndex, 1);

            // after hook
            Hooks.Control.afterRemove.run(controlInfo);
        });

        // update control bus
        eventBus.$on(EventHandlerConstant.ON_APPLY_EDITOR_SIDEBAR, control => {
            //var oldControl = _.find(this.row.controls, {name: control.name});
            let controlIndex = _.findIndex(self.row.controls, {
                name: control.name
            });
            if (
                controlIndex <= -1 ||
                self.row.controls[controlIndex].name !==
                    self.editing_control.name
            ) {
                return;
            }

            let oldControl = self.row.controls[controlIndex];
            // check if existed name in this section
            if (
                control.fieldName !== oldControl.fieldName &&
                ControlHandler.isControlNameExisted(
                    self.row.name,
                    control.fieldName
                )
            ) {
                Toaster.error(
                    "This field name already exists in the current section!"
                );
                return;
            }

            // replace value
            var controlInfo = _.cloneDeep(control);
            _.each(controlInfo, (value, key) => {
                self.row.controls[controlIndex][key] = value;
            });

            // update gui for specific control
            if (self.$refs[controlInfo.name]) {
                if (_.isFunction(self.$refs[controlInfo.name].configUpdated)) {
                    self.$refs[controlInfo.name].configUpdated();
                }
            }

            // replace
            this.$nextTick(() => {
                ControlHandler.setSelect(oldControl.name);
            });

            this.getRowWidth();
        });
    },
    mounted() {
        let self = this;

        $(this.$el).droppable({
            accept: ".control-wrapper",
            drop: function(event, ui) {
                self.addControl($(ui.draggable[0]).attr("data-control-type"));
            },
            over: function(event, ui) {
                ui.helper.css("border", "1px solid green");
            }
        });

        $(this.$el)
            .sortable({
                cursor: "move",
                delay: 100,
                helper: "clone",
                placeholder: "ui-state-highlight",
                update: function(event, ui) {
                    self.traverseControl();
                },
                start: function(e, ui) {
                    ui.placeholder.height(ui.item.height());
                    ui.placeholder.width(ui.item.width());
                    ui.placeholder.css("border", "0 none");
                    ui.placeholder.css("background-color", "#e4e9f0");
                }
            })
            .disableSelection();

        this.getRowWidth();
    },
    updated() {
        this.getRowWidth();
    }
};
</script>

<style scoped>
.rowItem {
    border-radius: 0.25rem;
    background-color: #fff;
    border: 1px solid #e4e9f0;
    padding: 10px;
    margin: 0;
    position: relative;
    min-height: 58px;
}

.rowItem:last-child {
    margin-bottom: 0 !important;
}

.rowItem .tools {
    /* position: absolute;
    top: 8px;
    right: 8px;
    opacity: .5;
     */

    position: absolute;
    top: -12px;
    right: -12px;
    background: #f2f4f8;
    padding: 8px 10px;
    border-radius: 50%;
    z-index: 1;
}

/* .rowItem .tools:hover {
    opacity: 1;
} */

.rowItem .col-count {
    position: absolute;
    right: 30px;
    top: -10px;
    background-color: #fff;
    font-size: .8em;
    padding: 0 6px;
    z-index: 1;
}

.clickable {
    cursor: pointer;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
</style>
