<template>
    <div class="controlSidebarWrapper">
        <div class="controlSidebar list-group trashZone" v-show="!isConfig">
            <a href="#" class="list-group-item active">
                Supported Controls
            </a>
            <div id="sidebarControls">
                <a
                    href="javascript:void(0)"
                    class="list-group-item list-group-item-action control-wrapper"
                    v-for="(obj, value) in controls"
                    :data-control-type="value"
                >
                    <font-awesome-icon :icon="obj.icon"></font-awesome-icon>
                    {{ obj.label }}
                </a>
            </div>
        </div>
        <div class="settingSidebar card" v-if="isConfig">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h4>{{ controlInfo.label }}</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button
                            class="btn ml-1 mb-1 btn-outline-success btn-sm"
                            @click="applyEditSidebar"
                        >
                            Save
                        </button>
                        <button
                            class="btn ml-1 mb-1 btn-outline-secondary btn-sm"
                            @click="closeEditSidebar"
                        >
                            Cancel
                        </button>
                    </div>
                </div>

                <base-config-component
                    :control="controlInfo"
                ></base-config-component>

                <component
                    v-if="configComponent != null"
                    :is="configComponent"
                    :control="controlInfo"
                >
                </component>

                <base-style-component
                    :control="controlInfo"
                ></base-style-component>

                <form-logic-component
                    :control="controlInfo"
                    :controls="usedControls"
                ></form-logic-component>
            </div>
        </div>
    </div>
</template>

<script>
import { CONTROL_TYPES } from "code23VueFormBuilder/config/control_constant";
import { eventBus, EventHandlerConstant } from "code23VueFormBuilder/template/handler/event_handler";
import { ControlHandler } from "code23VueFormBuilder/template/handler/control_handler";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { Hooks } from "code23VueFormBuilder/template/components/hook_lists";
import BaseConfigComponent from "./sidebar_items/BaseConfigComponent";
import BaseStyleComponent from "./sidebar_items/BaseStyleComponent";
import FormLogicComponent from "./sidebar_items/FormLogicComponent";

export default {
    name: "sidebar-component",

    components: { FormLogicComponent, BaseStyleComponent, BaseConfigComponent, FontAwesomeIcon },

    data: () => ({
        controls: CONTROL_TYPES,
        isConfig: false,
        controlInfo: null,
        configComponent: null
    }),

    props: {
        form: {
            type: Object
        }
    },

    computed: {
        usedControls: function () {
            var used_controls = []

            _.forEach(this.form.sections, function(section) {
                _.forEach(section.rows, function(row) {
                    _.forEach(row.controls, function(control) {
                        if (control.type != 'info') {
                            used_controls.push(control)
                        }
                    })
                })
            })

            return used_controls
        }
    },

    methods: {
        closeEditSidebar() {
            this.isConfig = false;
            this.controlInfo = null;
            ControlHandler.clearSelect();
        },
        applyEditSidebar() {
            if (this.controlInfo.name !== ControlHandler.getSelectedItem()) {
                return;
            }

            // pre apply
            this.controlInfo.decimalPlace = parseInt(
                this.controlInfo.decimalPlace
            );

            // before hook here
            let b4Run = Hooks.Sidebar.beforeApplyConfig.runSequence(
                this.controlInfo
            );
            if (b4Run === false) {
                return;
            }

            eventBus.$emit(
                EventHandlerConstant.ON_APPLY_EDITOR_SIDEBAR,
                this.controlInfo
            );

            // after hook here
            Hooks.Sidebar.afterApplyConfig.run(this.controlInfo);

            // close it
            this.closeEditSidebar();
        }
    },

    created() {
        // catch event activate sidebar here
        eventBus.$on(
            EventHandlerConstant.ACTIVATE_EDITOR_SIDEBAR,
            controlInfo => {
                // before hook here
                let b4Run = Hooks.Sidebar.beforeOpenConfig.runSequence(
                    controlInfo
                );
                if (b4Run === false) {
                    return;
                }

                // open config
                this.isConfig = true;
                this.controlInfo = controlInfo;
                this.configComponent = null;

                // retrieve config component
                if (_.accessStr(this.controls[controlInfo.type], "source.config")) {
                    this.configComponent = this.controls[controlInfo.type].source.config;
                }

                // after hook here
                Hooks.Sidebar.afterOpenConfig.run(this.controlInfo);
            }
        );
    },

    mounted() {
        // insert controls
        $(".list-group-item", $("#sidebarControls")).draggable({
            appendTo: "body",
            containment: "",
            scroll: false,
            helper: "clone",
            revert: true,
            zIndex: 9999,
            cancel: ".list-group-item-success",
            start: function(event, ui) {
                $(ui.helper).css("width", `${$(event.target).width()}px`);
                $(ui.helper).css("border-radius", ".25rem");
            }
        });

        $(this.$el)
            .find(".trashZone")
            .droppable({
                accept: ".controlItemWrapper",
                drop: function(event, ui) {
                    // remove control
                    eventBus.$emit(EventHandlerConstant.REMOVE_CONTROL, ui);
                },
                over: function(event, ui) {
                    ui.helper.css("border", "1px dotted #e74c3c");
                    ui.helper.css("border-radius", ".25rem");
                    ui.helper.css("background", "repeating-linear-gradient(45deg, #dde2ec, #dde2ec 10px, #f2f4f8 10px, #f2f4f8 20px)")
                    ui.helper.css("opacity", ".75");
                },
                out: function(event, ui) {
                    ui.helper.css("border", "0 none");
                    ui.helper.css("background", "#fff");
                    ui.helper.css("opacity", "1");
                }
            });
    }
};
</script>

<style scoped>
.controlSidebarWrapper {
    position: sticky;
    top: 10px;
}
</style>
