<template>
    <input v-on:keyup="keyUp" type="text" class="form-control" :disabled="readonly" />
</template>

<script>
export default {
    name: "TimePickerControl",
    data: () => ({
        timepicker: null
    }),
    model: {
        event: "change",
        prop: "value"
    },
    props: {
        readonly: {
            type: Boolean,
            default: false
        },
        options: {
            type: Object,
            default: () => {}
        },
        value: null
    },
    watch: {
        options(val) {
            this.setOption(val);
        },
        value(val) {
            this.setValue(val);
        }
    },
    methods: {
        setOption(val = []) {
            let self = this;
            _.each(this.options, (value, key) => {
                if (key === "change") {
                    return;
                }

                self.timepicker.data("TimePicker").options[key] = value;
            });
            this.setValue(this.value);
        },
        setValue(val) {
            this.timepicker.val(val);
        },
        keyUp(event) {
            let val = $(event.target).val();

            // set value to nothing when backspace or delete was used to clear the field
            if (val == '' && (event.keyCode == 8 || event.keyCode == 46)) {
                this.setValue('');
                this.$emit("change", '');
            }
        }
    },
    mounted() {
        let self = this;
        this.timepicker = $(this.$el).timepicker({
            ...this.options,
            change: function(time) {
                time = moment(time);
                self.$emit("change", time.format(self.options.timeFormat));
            }
        });

        this.setValue(this.value);
    },
    beforeDestroy() {
        // this.timepicker.timepicker('destroy');
    }
};
</script>

<style scoped></style>
